h1 {
  text-align:center;
  font: bold italic;
  color: beige;
  font-size: 5em;
}

h2 {
  font-size: 15em;
  text-align: center;
  color: beige;
}

h3 {
  font-size: 30px;
  text-align: center;
  color: beige;
}

Iframe {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ids */

.row {
  display: flex;
  /* margin: 2%; */
}

.card {
  max-width: 100%;
  vertical-align: bottom;
  text-align: center;
  padding: 0;
  color: beige;
}

.kpi_group {
  padding-bottom: 50px;
  padding-top: 50px;
  display: inline-block;
}

.card-img-top {
  height: auto; 
  width: auto;  
  max-height: 6vh;
  object-fit: cover;
  align-items: center;
  align-self: center;
}


/* input box */
.Select-control {
  background-color: beige;
  color: beige;
}

/* changes the text color of input box */
.Select-value-label {
  color: #e84c3c !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px;
}

/* dropdown menu options */
.VirtualizedSelectOption {
  background-color: black;
  color: beige;
}

.dash-table-container .row {
  display: block;
}

.d_flag {
  max-height: 10px;
  margin: 0;
}

.driver_info_set {
  margin: 10px;
}

.driver_number {
  font-size: 500px;
}

/* classes */

#filter {
  margin-bottom: 50px;
}

#header {
  margin-top: 2%;
  margin-bottom: 2%;
}